@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 210 11% 15%;
    --card: 0 0% 97%;
    --card-foreground: 210 11% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 11% 15%;
    --primary: 14 95% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 9% 38%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 11% 89%;
    --muted-foreground: 220 9% 38%;
    --accent: 220 9% 38%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --border: 220 13% 82%;
    --input: 220 13% 82%;
    --ring: 220 9% 46%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 240 3% 9%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 14 95% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 9% 46%;
    --secondary-foreground: 0 0% 100%;
    --muted: 240 3% 9%;
    --muted-foreground: 220 14% 68%;
    --accent: 240 3% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --border: 240 3% 25%;
    --input: 240 3% 25%;
    --ring: 220 9% 46%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold tracking-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(250, 71, 33, 0.3);
  color: inherit;
}
